@font-face{
    font-family: "OpenSans-Regular";
    src: url(/fonts/OpenSans-Regular.ttf);
  }
@font-face{
    font-family: "OpenSans-Bold";
    src: url(/fonts/OpenSans-Bold.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "OpenSans-Regular";
    font-size: 18px;
}
.container{
    max-width: 970px;
    margin: 0 auto;
}

.title{
    font-family: "OpenSans-Bold";
    font-size: 34px;
    line-height: 46px;
}
.subTitle{
    line-height: 25px;
    font-size: 18px;
}

// section Header
.header {

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center ;
        border-bottom: 1px solid #828282;
    }

    &__menuItem {
        list-style: none;
        line-height:24.51px;
        padding:27.5px 40px;
        
        
    }

    &__menuLink {
        text-decoration: none;
        color: #828282;
        :checked{
            color: black;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 65px;
        font-family: "OpenSans-Bold";
        text-align: left;
        margin: 12px 0 50px;

    }

    &__img {
    }
}

//  section Discription 

.description {
    text-align: center;
    margin: 100px 245px;

    &__title {
        margin-bottom:50px;
    }

    &__subTitle {
        & + &{
            margin-top: 30px;
        }

        // &_largePad{
        //     padding-bottom: 100px;
        // }
    }
}

//  section Cards

.cards {
    

    &__top {
        text-align: center;
    }

    &__topTitle {
        margin: 100px 0 20px;
    }

    &__topSubtitle {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}
.skillCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__icon {

        &_ps {
        }

        &_ai {
        }

        &_ae {
        }

        &_figma {
        }
    }

    &__subtitle {
        font-size: 14px;
        line-height: 19px;
        font-family: "OpenSans-Bold";
        color: #828282;
        margin: 25px 0 60px;
        text-align: center;
    }

    &__stars {
    }
}
.fas {
}
.fa-star {
}
.transparent:hover {
    transition: all 1s ease-in-out;
    opacity: 0.3;
}

// section Portfolio

.portfolio {
    text-align: center;

    &__title {
        margin: 100px 0 50px;
    }

    &__subTitle {
        text-decoration: underline;
        margin: 40px 0 70px;
        &_largePad{
            margin-bottom: 100px;
        }
    }
}



// section Footer


.footer {
    margin: 100px 0;
    text-align: center;

    &__top {
    }

    &__topTitle {
    }

    &__topSubtitle {
        margin: 20px 0 60px;
    }

    &__icons {
    }

    &__iconsItem {
        width: 30px;
        aspect-ratio: 1 / 1;

        &_linkedin {
        }

        &_inst {
        }

        &_behance {
        }

        &_dribbble {
        }
    }

    &__subtitle {
        font-size: 14px;
        line-height: 19px;
        color:#828282;
        margin-top: 60px;

    }
}

.buttonContainer {
    margin-bottom: 40px;
}
.button {
    font-family: "OpenSans-Bold";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    padding: 10px 16px;
    background-color: black;
    border-radius: 22px;
    color: #fff;
}
